@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
.App {
  text-align: center;
}

body {
  font-family: sans-serif;
  font-size: 95%;
  color: #E0E0E0;
  box-sizing: border-box;
  margin: 20px;
  background: #DC2424;
  background-size: 400% 400%;
  animation: gradientData 5s ease infinite;
  background: -webkit-linear-gradient(to left,  #bc4040, #5c6dd6); 
  background: linear-gradient(to left,  #bc4040, #5c6dd6);
  
}

::selection {
  color: orange;
}
h1,
h3,
h2 {
  font-family: 'Permanent Marker', sans-serif;
}
.Title {
  color: white;
  font-size: 3rem;
  margin: 20px 0;
  text-shadow: 4px 4px 4px black;
  text-align: center;
}
.links a{
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.links a:link {
  color: #265301;
}

.links a:visited {
  color: #437a16;
}

.links a:focus {
  border-bottom: 1px solid;
  background: #bae498;
}

.links a:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}

.links a:active {
  background: #265301;
  color: #cdfeaa;
}
.links{
  margin-bottom: 0.5rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.savedButton{
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 2rem;
  height: 80%;
  font-family: sans-serif;
  font-size: 95%;
  color: #E0E0E0;
  box-sizing: border-box;
  margin: 20px;
  overflow:scroll;
  background: #DC2424; 
  background: -webkit-linear-gradient(to right,  #bc4040, #5c6dd6); 
  background: linear-gradient(to right,  #bc4040, #5c6dd6);
}
.charecter-details{
  height: -webkit-fill-available;
  display: flex;
  flex: 1;
  background-color: "transparent";
  width:  -webkit-fill-available;
  
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  margin-top: 1rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.SearchBar {
  margin: 0 auto;
  text-align: center;
  width: 500px;

}

.SearchBar input {
  font-size: 24px;
  border: none;
  padding: 10px 15px;
  border-radius: 4px 0 0 4px;
  box-shadow: 4px 4px 4px black;
  width: 400px;
  background: rgba(33,33,32,1);
  color: white;
}

.SearchBar input:focus {
  background: #263238;
  outline: none;
}


@keyframes gradientData {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
