
  .card-inner {
    border: 1px solid #eee;
    /* border-image: url('/img/sketchy-border.png') 2 repeat; */
    border-width: 1px;
    margin-top:15px;
    padding: 0px;
    height:330px;

}

.card-img {
  height: 290px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: border 200ms ease-out;
  border: 1px solid rgba(255,255,255, 0.5);
}
.card-img-details{
  height: 290px;
  background-position: center;
  background-size: stretch;
  background-repeat: no-repeat;
  transition: border 200ms ease-out;
  width: 100%;
  border: 1px solid rgba(255,255,255, 0.5);
  margin-bottom: 2rem;
}
.subTitle{
  font-weight: bold;
  font-size: medium;
  margin-bottom: 1rem;
  color: rgba(237,26,59,1);
}
.dataLinks{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.card-title {
  margin-top:10px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(237,26,59,1);
  padding:0 10px;
  margin-bottom: auto;
}
.card-description {
  font-size: 20px;
  font-weight: 500;
  color: #787878;
  padding:5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-height: 45px; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}
.card-title-details{
  margin-top:10px;
  font-size: 24px;
  font-weight: bold;
  color: rgba(237,26,59,1);
  padding:0 10px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  display: flex;

}


.Card {
  margin: 20px;
  height: 400px;
  min-width: 300px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 30px #00212d;
  filter: brightness(1) saturate(90%);
  transition: transform 0.6s, box-shadow 0.6s, filter 0.4s;
}

.Card:hover {
  box-shadow: 1px 1px 40px #f9b916;
  transform: scale(1.02);
  filter: brightness(1.2) saturate(110%);
  transition: transform 0.2s, box-shadow 0.2s;
}

.Card__gradient-overlay {
  height: 100%;
  background: linear-gradient(rgba(180,180,255, 0.1) 35%, rgba(33,33,32,0.8) 64%, rgba(33,33,32,1) 80%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card-Bot {
  min-height: 0%;
  padding: 0 15px 15px;
}

